[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
markdown = "*"
flake8 = "*"
ipdb = "*"
mypy = "*"
pytest = "*"
pytest-sugar = "*"
pytest-django = "*"
factory-boy = "*"
coverage = "*"

[packages]
# Base
pillow = "*"
psycopg2-binary = "*"
pytz = "*"
# Django
django = "*"
djangorestframework = "*"
django-filter = "*"
django-environ = "*"
# Passwords security
argon2-cffi = "*"
# Celery
flower = "*"
tornado = "*"
redis = "*"
django-redis = "*"
# Production
gunicorn = "*"
celery = "==4.4.6"

[requires]
python_version = "3.8"
